body {
    font-family: 'Montserrat', sans-serif; 
    /* background-color: #F5F7FA; */
    /* padding: 40px; */
    
}

/* Main Styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px; 
    margin: 0 auto;
    background: #FFFFFF;   
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}    

.main-content {
    width: calc(100% - 370px);
    padding: 105px 90px;
}


/* About styles */

.about {
    margin-bottom: 20px;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* Project styles */

.projects {
    margin-bottom: 50px;
}

.project-list {
    padding: 0px;
    margin-left: 15px;
    margin-bottom: 50px;
}


.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;    
    color: #000000;
}

.project,
.project-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link {
    margin-left: 10px;

}

.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}


/* Work styles*/
.work {
    /* background: #fff; */
    /* padding-bottom: 16px; */
    /* padding-right: 257px; */
    color: #595959
}

.work-section {
    margin-bottom: 40px;
}

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work-list {
    padding: 0px;
    margin-left: 25px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.company1,
.company2,
.company3 {
    /* color: #595959; */
}

/* Education */

.education {

    /* font-size: 14px;
    margin-top: 43px;
    margin-bottom: 147px;
    margin-left: 88px;
    margin-right: 455px; */
}

.education-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 10px 0px;
}


.university {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 0 0 10px 0;
}

.specialisation {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 10px 0;
}

.study-period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}



/* Sidebar styles */

.sidebar {
    background-color: #0C2D40; 
    width: 370px;
    padding-top: 40px;
    /* margin-top: 40px;
    margin-left: 40px; */
}

.sidebar-h3 {
    color: #FFFFFF;
    font-size: 22px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.p-contacts {
    color:#FFFFFF;
    font-size: 22px;
}

.contacts,
.tech-skills,
.soft-skills {
    font-size: small;
    color: #FFFFFF;
    margin-left: 40px;
    margin-bottom: 50px;
}


.tech-skills-list,
.soft-skills-list {
    padding: 0 0 0 17px;
}

.tech-skills-item,
.soft-skills-item {
    color: #FB6D3A
}

.tech-skills-text,
.soft-skills-text {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

}



/* Other elements */

.p-about {
    color: #000000;
}

.p-contacts {
    color: #FFFFFF;
}

p {
    color: #A8A8A8;
}

.company {
    color: orange;
}
ul {
    color: white;
}

li {
    color: #010202;
}

a {
    color: #A8A8A8;
}

h2 {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h3,
h4 {
    color: #000000;
}

